*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  min-height: 100vh;
  margin: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

nav ul, nav ol {
  padding-left: 0;
}

nav ul li, nav ol li {
  list-style: none;
}

nav a {
  color: inherit;
  text-decoration: inherit;
}

.f-main-y {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.f-main-x {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.f-main-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.f-main-around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.f-main-evenly {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.f-main-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.f-main-start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.f-main-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.f-cross-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.f-cross-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

.f-cross-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-line-pack: end;
      align-content: flex-end;
}

.f-self-start {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.f-self-end {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.f-self-center {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.f-order-1 {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.f-grow-1 {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.f-order-2 {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.f-grow-2 {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}

.f-order-3 {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

.f-grow-3 {
  -webkit-box-flex: 3;
      -ms-flex-positive: 3;
          flex-grow: 3;
}

.f-order-4 {
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
}

.f-grow-4 {
  -webkit-box-flex: 4;
      -ms-flex-positive: 4;
          flex-grow: 4;
}

.f-order-5 {
  -webkit-box-ordinal-group: 6;
      -ms-flex-order: 5;
          order: 5;
}

.f-grow-5 {
  -webkit-box-flex: 5;
      -ms-flex-positive: 5;
          flex-grow: 5;
}

.f-order-6 {
  -webkit-box-ordinal-group: 7;
      -ms-flex-order: 6;
          order: 6;
}

.f-grow-6 {
  -webkit-box-flex: 6;
      -ms-flex-positive: 6;
          flex-grow: 6;
}

.f-order-7 {
  -webkit-box-ordinal-group: 8;
      -ms-flex-order: 7;
          order: 7;
}

.f-grow-7 {
  -webkit-box-flex: 7;
      -ms-flex-positive: 7;
          flex-grow: 7;
}

.f-order-8 {
  -webkit-box-ordinal-group: 9;
      -ms-flex-order: 8;
          order: 8;
}

.f-grow-8 {
  -webkit-box-flex: 8;
      -ms-flex-positive: 8;
          flex-grow: 8;
}

.f-order-9 {
  -webkit-box-ordinal-group: 10;
      -ms-flex-order: 9;
          order: 9;
}

.f-grow-9 {
  -webkit-box-flex: 9;
      -ms-flex-positive: 9;
          flex-grow: 9;
}

.f-order-10 {
  -webkit-box-ordinal-group: 11;
      -ms-flex-order: 10;
          order: 10;
}

.f-grow-10 {
  -webkit-box-flex: 10;
      -ms-flex-positive: 10;
          flex-grow: 10;
}

.f-order-11 {
  -webkit-box-ordinal-group: 12;
      -ms-flex-order: 11;
          order: 11;
}

.f-grow-11 {
  -webkit-box-flex: 11;
      -ms-flex-positive: 11;
          flex-grow: 11;
}

.f-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.f-display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.f-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.f-nowrap {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.mx-0 {
  margin-left: calc(.25rem * 0);
  margin-right: calc(.25rem * 0);
}

.px-0 {
  padding-left: calc(.25rem * 0);
  padding-right: calc(.25rem * 0);
}

.my-0 {
  margin-top: calc(.25rem * 0);
  margin-top: calc(.25rem * 0);
}

.py-0 {
  padding-top: calc(.25rem * 0);
  padding-top: calc(.25rem * 0);
}

.mr-0 {
  margin-right: calc(.25rem * 0);
}

.pr-0 {
  padding-right: calc(.25rem * 0);
}

.ml-0 {
  margin-left: calc(.25rem * 0);
}

.pl-0 {
  padding-left: calc(.25rem * 0);
}

.mx-1 {
  margin-left: calc(.25rem * 1);
  margin-right: calc(.25rem * 1);
}

.px-1 {
  padding-left: calc(.25rem * 1);
  padding-right: calc(.25rem * 1);
}

.my-1 {
  margin-top: calc(.25rem * 1);
  margin-top: calc(.25rem * 1);
}

.py-1 {
  padding-top: calc(.25rem * 1);
  padding-top: calc(.25rem * 1);
}

.mr-1 {
  margin-right: calc(.25rem * 1);
}

.pr-1 {
  padding-right: calc(.25rem * 1);
}

.ml-1 {
  margin-left: calc(.25rem * 1);
}

.pl-1 {
  padding-left: calc(.25rem * 1);
}

.mx-2 {
  margin-left: calc(.25rem * 2);
  margin-right: calc(.25rem * 2);
}

.px-2 {
  padding-left: calc(.25rem * 2);
  padding-right: calc(.25rem * 2);
}

.my-2 {
  margin-top: calc(.25rem * 2);
  margin-top: calc(.25rem * 2);
}

.py-2 {
  padding-top: calc(.25rem * 2);
  padding-top: calc(.25rem * 2);
}

.mr-2 {
  margin-right: calc(.25rem * 2);
}

.pr-2 {
  padding-right: calc(.25rem * 2);
}

.ml-2 {
  margin-left: calc(.25rem * 2);
}

.pl-2 {
  padding-left: calc(.25rem * 2);
}

.mx-3 {
  margin-left: calc(.25rem * 3);
  margin-right: calc(.25rem * 3);
}

.px-3 {
  padding-left: calc(.25rem * 3);
  padding-right: calc(.25rem * 3);
}

.my-3 {
  margin-top: calc(.25rem * 3);
  margin-top: calc(.25rem * 3);
}

.py-3 {
  padding-top: calc(.25rem * 3);
  padding-top: calc(.25rem * 3);
}

.mr-3 {
  margin-right: calc(.25rem * 3);
}

.pr-3 {
  padding-right: calc(.25rem * 3);
}

.ml-3 {
  margin-left: calc(.25rem * 3);
}

.pl-3 {
  padding-left: calc(.25rem * 3);
}

.mx-4 {
  margin-left: calc(.25rem * 4);
  margin-right: calc(.25rem * 4);
}

.px-4 {
  padding-left: calc(.25rem * 4);
  padding-right: calc(.25rem * 4);
}

.my-4 {
  margin-top: calc(.25rem * 4);
  margin-top: calc(.25rem * 4);
}

.py-4 {
  padding-top: calc(.25rem * 4);
  padding-top: calc(.25rem * 4);
}

.mr-4 {
  margin-right: calc(.25rem * 4);
}

.pr-4 {
  padding-right: calc(.25rem * 4);
}

.ml-4 {
  margin-left: calc(.25rem * 4);
}

.pl-4 {
  padding-left: calc(.25rem * 4);
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.mx-5 {
  margin-left: 2rem;
  margin-right: 2rem;
}

.px-5 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.my-5 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.py-5 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.mr-5 {
  margin-right: 2rem;
}

.pr-5 {
  padding-right: 2rem;
}

.ml-5 {
  margin-left: 2rem;
}

.pl-5 {
  padding-left: 2rem;
}

.top-0 {
  top: calc(.25rem * 0);
}

.left-0 {
  left: calc(.25rem * 0);
}

.right-0 {
  right: calc(.25rem * 0);
}

.bottom-0 {
  bottom: calc(.25rem * 0);
}

.top-1 {
  top: calc(.25rem * 1);
}

.left-1 {
  left: calc(.25rem * 1);
}

.right-1 {
  right: calc(.25rem * 1);
}

.bottom-1 {
  bottom: calc(.25rem * 1);
}

.top-2 {
  top: calc(.25rem * 2);
}

.left-2 {
  left: calc(.25rem * 2);
}

.right-2 {
  right: calc(.25rem * 2);
}

.bottom-2 {
  bottom: calc(.25rem * 2);
}

.top-3 {
  top: calc(.25rem * 3);
}

.left-3 {
  left: calc(.25rem * 3);
}

.right-3 {
  right: calc(.25rem * 3);
}

.bottom-3 {
  bottom: calc(.25rem * 3);
}

.top-4 {
  top: calc(.25rem * 4);
}

.left-4 {
  left: calc(.25rem * 4);
}

.right-4 {
  right: calc(.25rem * 4);
}

.bottom-4 {
  bottom: calc(.25rem * 4);
}

.pos-abs {
  position: absolute;
}

.pos-rel {
  position: relative;
}

.pos-fix {
  position: fixed;
}

.pos-stick {
  position: -webkit-sticky;
  position: sticky;
}

.top-5 {
  top: 2rem;
}

.left-5 {
  left: 2rem;
}

.bottom-5 {
  bottom: 2rem;
}

.right-5 {
  right: 2rem;
}

.txt-0 {
  font-size: calc(.25rem * 0);
}

.txt-1 {
  font-size: calc(.25rem * 1);
}

.txt-2 {
  font-size: calc(.25rem * 2);
}

.txt-3 {
  font-size: calc(.25rem * 3);
}

.txt-4 {
  font-size: calc(.25rem * 4);
}

.txt-5 {
  font-size: 2rem;
}

.txt-center {
  text-align: center;
}

.txt-right {
  text-align: right;
}

.txt-left {
  text-align: left;
}

.txt-justify {
  text-align: justify;
}

.txt-capitalize {
  text-transform: capitalize;
}

.txt-lower {
  text-transform: lowercase;
}

.txt-upper {
  text-transform: uppercase;
}

.container, .container-y {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: .5rem;
  padding-right: .5rem;
  width: 100%;
  height: 100%;
}

.compact.container, .compact.container-y {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.container > *, .container-y > * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-width: calc((100% / 12) - 1rem);
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-left: .5rem;
  margin-right: .5rem;
}

.container {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.container-y {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.concon {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  margin-left: -.5rem;
  margin-right: -.5rem;
}

@media screen {
  .container .mb-1, .container-y .mb-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    position: relative;
    width: calc((100% / 12) * 1 - 1rem);
    margin-left: .5rem;
    margin-right: .5rem;
  }
  .container .mb-2, .container-y .mb-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    position: relative;
    width: calc((100% / 12) * 2 - 1rem);
    margin-left: .5rem;
    margin-right: .5rem;
  }
  .container .mb-3, .container-y .mb-3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    position: relative;
    width: calc((100% / 12) * 3 - 1rem);
    margin-left: .5rem;
    margin-right: .5rem;
  }
  .container .mb-4, .container-y .mb-4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    position: relative;
    width: calc((100% / 12) * 4 - 1rem);
    margin-left: .5rem;
    margin-right: .5rem;
  }
  .container .mb-5, .container-y .mb-5 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    position: relative;
    width: calc((100% / 12) * 5 - 1rem);
    margin-left: .5rem;
    margin-right: .5rem;
  }
  .container .mb-6, .container-y .mb-6 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    position: relative;
    width: calc((100% / 12) * 6 - 1rem);
    margin-left: .5rem;
    margin-right: .5rem;
  }
  .container .mb-7, .container-y .mb-7 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    position: relative;
    width: calc((100% / 12) * 7 - 1rem);
    margin-left: .5rem;
    margin-right: .5rem;
  }
  .container .mb-8, .container-y .mb-8 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    position: relative;
    width: calc((100% / 12) * 8 - 1rem);
    margin-left: .5rem;
    margin-right: .5rem;
  }
  .container .mb-9, .container-y .mb-9 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    position: relative;
    width: calc((100% / 12) * 9 - 1rem);
    margin-left: .5rem;
    margin-right: .5rem;
  }
  .container .mb-10, .container-y .mb-10 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    position: relative;
    width: calc((100% / 12) * 10 - 1rem);
    margin-left: .5rem;
    margin-right: .5rem;
  }
  .container .mb-11, .container-y .mb-11 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    position: relative;
    width: calc((100% / 12) * 11 - 1rem);
    margin-left: .5rem;
    margin-right: .5rem;
  }
  .container .mb-12, .container-y .mb-12 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    position: relative;
    width: calc((100% / 12) * 12 - 1rem);
    margin-left: .5rem;
    margin-right: .5rem;
  }
}

@media screen and (min-width: 768px) {
  .container .tb-1, .container-y .tb-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    position: relative;
    width: calc((100% / 12) * 1 - 1rem);
    margin-left: .5rem;
    margin-right: .5rem;
  }
  .container .tb-2, .container-y .tb-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    position: relative;
    width: calc((100% / 12) * 2 - 1rem);
    margin-left: .5rem;
    margin-right: .5rem;
  }
  .container .tb-3, .container-y .tb-3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    position: relative;
    width: calc((100% / 12) * 3 - 1rem);
    margin-left: .5rem;
    margin-right: .5rem;
  }
  .container .tb-4, .container-y .tb-4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    position: relative;
    width: calc((100% / 12) * 4 - 1rem);
    margin-left: .5rem;
    margin-right: .5rem;
  }
  .container .tb-5, .container-y .tb-5 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    position: relative;
    width: calc((100% / 12) * 5 - 1rem);
    margin-left: .5rem;
    margin-right: .5rem;
  }
  .container .tb-6, .container-y .tb-6 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    position: relative;
    width: calc((100% / 12) * 6 - 1rem);
    margin-left: .5rem;
    margin-right: .5rem;
  }
  .container .tb-7, .container-y .tb-7 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    position: relative;
    width: calc((100% / 12) * 7 - 1rem);
    margin-left: .5rem;
    margin-right: .5rem;
  }
  .container .tb-8, .container-y .tb-8 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    position: relative;
    width: calc((100% / 12) * 8 - 1rem);
    margin-left: .5rem;
    margin-right: .5rem;
  }
  .container .tb-9, .container-y .tb-9 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    position: relative;
    width: calc((100% / 12) * 9 - 1rem);
    margin-left: .5rem;
    margin-right: .5rem;
  }
  .container .tb-10, .container-y .tb-10 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    position: relative;
    width: calc((100% / 12) * 10 - 1rem);
    margin-left: .5rem;
    margin-right: .5rem;
  }
  .container .tb-11, .container-y .tb-11 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    position: relative;
    width: calc((100% / 12) * 11 - 1rem);
    margin-left: .5rem;
    margin-right: .5rem;
  }
  .container .tb-12, .container-y .tb-12 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    position: relative;
    width: calc((100% / 12) * 12 - 1rem);
    margin-left: .5rem;
    margin-right: .5rem;
  }
}

@media screen and (min-width: 1024px) {
  .container .lp-1, .container-y .lp-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    position: relative;
    width: calc((100% / 12) * 1 - 1rem);
    margin-left: .5rem;
    margin-right: .5rem;
  }
  .container .lp-2, .container-y .lp-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    position: relative;
    width: calc((100% / 12) * 2 - 1rem);
    margin-left: .5rem;
    margin-right: .5rem;
  }
  .container .lp-3, .container-y .lp-3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    position: relative;
    width: calc((100% / 12) * 3 - 1rem);
    margin-left: .5rem;
    margin-right: .5rem;
  }
  .container .lp-4, .container-y .lp-4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    position: relative;
    width: calc((100% / 12) * 4 - 1rem);
    margin-left: .5rem;
    margin-right: .5rem;
  }
  .container .lp-5, .container-y .lp-5 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    position: relative;
    width: calc((100% / 12) * 5 - 1rem);
    margin-left: .5rem;
    margin-right: .5rem;
  }
  .container .lp-6, .container-y .lp-6 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    position: relative;
    width: calc((100% / 12) * 6 - 1rem);
    margin-left: .5rem;
    margin-right: .5rem;
  }
  .container .lp-7, .container-y .lp-7 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    position: relative;
    width: calc((100% / 12) * 7 - 1rem);
    margin-left: .5rem;
    margin-right: .5rem;
  }
  .container .lp-8, .container-y .lp-8 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    position: relative;
    width: calc((100% / 12) * 8 - 1rem);
    margin-left: .5rem;
    margin-right: .5rem;
  }
  .container .lp-9, .container-y .lp-9 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    position: relative;
    width: calc((100% / 12) * 9 - 1rem);
    margin-left: .5rem;
    margin-right: .5rem;
  }
  .container .lp-10, .container-y .lp-10 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    position: relative;
    width: calc((100% / 12) * 10 - 1rem);
    margin-left: .5rem;
    margin-right: .5rem;
  }
  .container .lp-11, .container-y .lp-11 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    position: relative;
    width: calc((100% / 12) * 11 - 1rem);
    margin-left: .5rem;
    margin-right: .5rem;
  }
  .container .lp-12, .container-y .lp-12 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    position: relative;
    width: calc((100% / 12) * 12 - 1rem);
    margin-left: .5rem;
    margin-right: .5rem;
  }
}

@media screen and (min-width: 1200px) {
  .container .dk-1, .container-y .dk-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    position: relative;
    width: calc((100% / 12) * 1 - 1rem);
    margin-left: .5rem;
    margin-right: .5rem;
  }
  .container .dk-2, .container-y .dk-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    position: relative;
    width: calc((100% / 12) * 2 - 1rem);
    margin-left: .5rem;
    margin-right: .5rem;
  }
  .container .dk-3, .container-y .dk-3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    position: relative;
    width: calc((100% / 12) * 3 - 1rem);
    margin-left: .5rem;
    margin-right: .5rem;
  }
  .container .dk-4, .container-y .dk-4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    position: relative;
    width: calc((100% / 12) * 4 - 1rem);
    margin-left: .5rem;
    margin-right: .5rem;
  }
  .container .dk-5, .container-y .dk-5 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    position: relative;
    width: calc((100% / 12) * 5 - 1rem);
    margin-left: .5rem;
    margin-right: .5rem;
  }
  .container .dk-6, .container-y .dk-6 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    position: relative;
    width: calc((100% / 12) * 6 - 1rem);
    margin-left: .5rem;
    margin-right: .5rem;
  }
  .container .dk-7, .container-y .dk-7 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    position: relative;
    width: calc((100% / 12) * 7 - 1rem);
    margin-left: .5rem;
    margin-right: .5rem;
  }
  .container .dk-8, .container-y .dk-8 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    position: relative;
    width: calc((100% / 12) * 8 - 1rem);
    margin-left: .5rem;
    margin-right: .5rem;
  }
  .container .dk-9, .container-y .dk-9 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    position: relative;
    width: calc((100% / 12) * 9 - 1rem);
    margin-left: .5rem;
    margin-right: .5rem;
  }
  .container .dk-10, .container-y .dk-10 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    position: relative;
    width: calc((100% / 12) * 10 - 1rem);
    margin-left: .5rem;
    margin-right: .5rem;
  }
  .container .dk-11, .container-y .dk-11 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    position: relative;
    width: calc((100% / 12) * 11 - 1rem);
    margin-left: .5rem;
    margin-right: .5rem;
  }
  .container .dk-12, .container-y .dk-12 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    position: relative;
    width: calc((100% / 12) * 12 - 1rem);
    margin-left: .5rem;
    margin-right: .5rem;
  }
}

@media screen and (min-width: 1920px) {
  .container .ldk-1, .container-y .ldk-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    position: relative;
    width: calc((100% / 12) * 1 - 1rem);
    margin-left: .5rem;
    margin-right: .5rem;
  }
  .container .ldk-2, .container-y .ldk-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    position: relative;
    width: calc((100% / 12) * 2 - 1rem);
    margin-left: .5rem;
    margin-right: .5rem;
  }
  .container .ldk-3, .container-y .ldk-3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    position: relative;
    width: calc((100% / 12) * 3 - 1rem);
    margin-left: .5rem;
    margin-right: .5rem;
  }
  .container .ldk-4, .container-y .ldk-4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    position: relative;
    width: calc((100% / 12) * 4 - 1rem);
    margin-left: .5rem;
    margin-right: .5rem;
  }
  .container .ldk-5, .container-y .ldk-5 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    position: relative;
    width: calc((100% / 12) * 5 - 1rem);
    margin-left: .5rem;
    margin-right: .5rem;
  }
  .container .ldk-6, .container-y .ldk-6 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    position: relative;
    width: calc((100% / 12) * 6 - 1rem);
    margin-left: .5rem;
    margin-right: .5rem;
  }
  .container .ldk-7, .container-y .ldk-7 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    position: relative;
    width: calc((100% / 12) * 7 - 1rem);
    margin-left: .5rem;
    margin-right: .5rem;
  }
  .container .ldk-8, .container-y .ldk-8 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    position: relative;
    width: calc((100% / 12) * 8 - 1rem);
    margin-left: .5rem;
    margin-right: .5rem;
  }
  .container .ldk-9, .container-y .ldk-9 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    position: relative;
    width: calc((100% / 12) * 9 - 1rem);
    margin-left: .5rem;
    margin-right: .5rem;
  }
  .container .ldk-10, .container-y .ldk-10 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    position: relative;
    width: calc((100% / 12) * 10 - 1rem);
    margin-left: .5rem;
    margin-right: .5rem;
  }
  .container .ldk-11, .container-y .ldk-11 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    position: relative;
    width: calc((100% / 12) * 11 - 1rem);
    margin-left: .5rem;
    margin-right: .5rem;
  }
  .container .ldk-12, .container-y .ldk-12 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    position: relative;
    width: calc((100% / 12) * 12 - 1rem);
    margin-left: .5rem;
    margin-right: .5rem;
  }
}

@media screen and (max-width: 768px) {
  .no-mb {
    display: none;
  }
  .only-mb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .only-tb {
    display: none;
  }
  .only-lp {
    display: none;
  }
  .only-dk {
    display: none;
  }
  .only-ldk {
    display: none;
  }
}

@media screen and (min-width: calc(768px + 1px)) and (max-width: 1024px) {
  .no-tb {
    display: none;
  }
  .only-mb {
    display: none;
  }
  .only-tb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .only-lp {
    display: none;
  }
  .only-dk {
    display: none;
  }
  .only-ldk {
    display: none;
  }
}

@media screen and (min-width: calc(1024px + 1px)) and (max-width: 1200px) {
  .no-lp {
    display: none;
  }
  .only-mb {
    display: none;
  }
  .only-tb {
    display: none;
  }
  .only-lp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .only-dk {
    display: none;
  }
  .only-ldk {
    display: none;
  }
}

@media screen and (min-width: calc(1200px + 1px)) and (max-width: 1920px) {
  .no-dk {
    display: none;
  }
  .only-mb {
    display: none;
  }
  .only-tb {
    display: none;
  }
  .only-lp {
    display: none;
  }
  .only-dk {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .only-ldk {
    display: none;
  }
}

@media screen and (min-width: calc(1920px + 1px)) {
  .no-ldk {
    display: none;
  }
  .only-mb {
    display: none;
  }
  .only-tb {
    display: none;
  }
  .only-lp {
    display: none;
  }
  .only-dk {
    display: none;
  }
  .only-ldk {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}