<%- include('./partials/head') %> 
<body>
	<header class="container f-center bg-mononoke mvh-100 w-100">
		<div class="mb-12 f-main-y f-center">
			<h1 class="header__title color-rojo">CONTADOR DE RUTAS</h1>
			<h2 class="header__subtitle">Cada ruta representa una película de <a href="/ghibli" class="bgc-rojo">Ghibli</a></h2>
		</div>
		<%- include('./partials/contador') %> 
	</header>
</body>
</html>